* {
    transition: 250ms;
}

html {
    background-image:url(./styles/images/backgroundImage.svg);
    background-repeat:no-repeat;
    background-size:cover;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}