@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; 300 400 500 600 700*/


* {
    font-family: 'Quicksand', sans-serif;
}

html {
    background-image:url(./styles/images/backgroundImage.svg);
    background-repeat:no-repeat;
    background-size:cover;
}

.parent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.child {
    flex: 1;
    margin: 10px;
    background-color: #ccc;
    flex-shrink: 0;
  }