* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

.toDo {
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 332px;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 1rem;
    padding: 1.5rem 2rem;
}

.heading {
    color: #3e52a0;
    text-align: center;
    margin: 1rem auto 32px auto;
}

.textbox {
    display: block;
    border: 2px solid rgba(229, 224, 255, 0.55);
    border-radius: 0.8rem;
    height: 3rem;
    width: 100%;
    margin: 1rem auto 1.5rem auto;
    padding: 0 1.3rem;
}

.textbox:focus {
    border: 2px solid rgb(229, 224, 255);
    transition: 200ms;
    box-shadow: inset 5px 5px 7px -7px rgba(229, 224, 255),
        inset 0px -5px 4px -6px rgba(0, 0, 0, 0.1);
}

.titleBar {
    font-size: 1.25rem;
    font-weight: 600;
}

.descBar {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem 1.3rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 6rem;
    height: 6rem;
    max-height: 6rem;
}

/* width */
.descBar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.descBar::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 50%;
    margin: 1rem;
}

/* Handle */
.descBar::-webkit-scrollbar-thumb {
    background: #e5e0ff;
    border-radius: 10px;
}

/* Handle on hover */
.descBar::-webkit-scrollbar-thumb:hover {
    background: #e5e0ff;
}

.sbtBtn {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #866eff, #d3caff);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    padding: 0 1.6rem;
    margin: 1rem auto 1.5rem auto;
    height: 3rem;
    width: 100%;
    border-radius: 1.5rem;
    cursor: pointer;
}

.pencilicon {
    width: 1.5rem;
}

.sbtBtn:hover {
    transition: 200ms;
    font-weight: 700;
    box-shadow: 3px 9px 15px -8px rgba(134, 110, 255, 0.3);
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
    margin-bottom: 1.5rem;
}

.taskList {
    overflow: scroll;
    width: 100%;
    overflow-x:hidden;
    height: 47%;
    width: 100%;
}

.taskList::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}

/* Track */
.taskList::-webkit-scrollbar-track {

    opacity: 0;
}

/* Handle */
.taskList::-webkit-scrollbar-thumb {
    background: #e5e0ff;
    border-radius: 10px;
}

/* Handle on hover */
.taskList::-webkit-scrollbar-thumb:hover {
    background: #e5e0ff;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.task {
    color: #6d53ed;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    border-radius: 1rem;
}

.taskIcons{
    width: 1.7rem;
}

.taskTitle {
    font-weight: 700;
    font-size: 1.25rem;
    color: #7059e1;
}

.taskDesc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.taskBtn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 1rem;
}

.box {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

